.input{
    width: 400px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px 4px rgba(156, 203, 220, 0.729);
}
.text{
    margin-top: 50px;
    background-color: rgba(196, 187, 187, 0.699); 
    padding: 5px;
}                                                                                                                                                                                                                                                                                                                                                                           
.vakit {
    background-color: rgba(145, 160, 150, 0.53);
    padding: 5px;
    box-shadow: 0 0 6px 4px rgba(210, 198, 198, 0.729);
    margin-top: 20px;
    color: white;
    border-left: 1px solid rgb(139, 164, 183);
}              
