/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";


body{
    background-repeat :no-repeat;
    background-size: cover;
    height: 100px;
    background-image: url("./assets/img/Fatih_cami.jpg");
}